<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{define "Title"}}{{end}}</title>
    <meta charset="utf-8">

    {{define "Head"}}{{end}}
</head>

<body>
    {{define "Body"}}{{end}}
</body>
<footer>
    {{define "Footer"}}{{end}}
    @copy; Dave 2022
</footer>

</html>